#overlay {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;
  overflow: hidden;
  pointer-events: all;
  transition: 0.2s;

  &[data-show] {
    display: flex;
  }

  &[data-focus] {
    background: rgba(#000000, 0.2);
  }
}

#overlay-inner {
  display: block;
}